---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="text-base text-[#989596] text-center leading-[1.42857143] font-normal mt-[15px] mb-[40px] font-['Heebo']">
    <h2 class="inline-block text-[50px] font-bold uppercase border-b-[3px] border-[#ba131a] text-black mt-[20px] mb-[10px] leading-[1.1] text-center font-['Arial']">Brands</h2>
    <h4 class="not-italic text-center box-border mt-2 mb-2 text-blue-900 font-normal text-2xl">
      High performing protective, fireproofing, flooring and marine paint<br /> and
      coatings brands supplied to New Zealand, Australia &amp; the Pacific.
    </h4>
    <div class="table text-base text-[#989596] text-center leading-[1.42857143] font-normal font-['Heebo'] mx-[-15px]">
      <a
        href="http://www.flowcrete.co.nz"
        class="table-cell align-middle w-1/5 mt-[30px] px-[20px] text-center text-black text-base leading-[1.42857143] font-normal font-['Heebo'] relative min-h-[1px] border-r-2 border-[#b7c7d3] no-underline bg-transparent"
      >
        <div class="font-normal not-italic text-base text-center text-black box-border h-48 align-middle table-cell">
          <img
            src="https://altexcoatings.com/uploads/brands/logo_flooring_0.png"
          />
        </div>
        <h3>Flooring</h3>
      </a>
      <a
        href="http://www.flowcrete.co.nz"
        class="table-cell align-middle w-1/5 mt-[30px] px-[20px] text-center text-black text-base leading-[1.42857143] font-normal font-['Heebo'] relative min-h-[1px] border-r-2 border-[#b7c7d3] no-underline bg-transparent"
      >
        <div class="font-normal not-italic text-base text-center text-black box-border h-48 align-middle table-cell">
          <img
            src="https://altexcoatings.com/uploads/brands/logo_flooring_0.png"
          />
        </div>
        <h3>Flooring</h3>
      </a>
      <a
        href="http://www.flowcrete.co.nz"
        class="table-cell align-middle w-1/5 mt-[30px] px-[20px] text-center text-black text-base leading-[1.42857143] font-normal font-['Heebo'] relative min-h-[1px] border-r-2 border-[#b7c7d3] no-underline bg-transparent"
      >
        <div class="font-normal not-italic text-base text-center text-black box-border h-48 align-middle table-cell">
          <img
            src="https://altexcoatings.com/uploads/brands/logo_flooring_0.png"
          />
        </div>
        <h3>Flooring</h3>
      </a>
      <a
        href="http://www.flowcrete.co.nz"
        class="table-cell align-middle w-1/5 mt-[30px] px-[20px] text-center text-black text-base leading-[1.42857143] font-normal font-['Heebo'] relative min-h-[1px] border-r-2 border-[#b7c7d3] no-underline bg-transparent"
      >
        <div class="font-normal not-italic text-base text-center text-black box-border h-48 align-middle table-cell">
          <img
            src="https://altexcoatings.com/uploads/brands/logo_flooring_0.png"
          />
        </div>
        <h3>Flooring</h3>
      </a>
      
    </div>
  </div>
</Layout>
